<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <title>JSON Sorter - Sort JSON keys online</title>
    <meta name="description" content="Sort JSON keys, rearrange your JSON alphabetical" />
    <meta name="keywords" content="json,json sorter,json sort,sort json values,json tool,json sort tool,sort json keys,online json tool" />
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1,maximum-scale=5,minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" href="/ico/icon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
    <link rel="manifest" href="manifest.json">
    <link rel="manifest" href="site.webmanifest" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="icon.png" type="image/png" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/paper.min.css" />
    <link rel="stylesheet" href="css/nes.min.css" />
    <link rel="stylesheet" href="css/prism.css" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Sort JSON keys, rearrange your JSON alphabetical">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@r37r0m0d3l">
    <meta name="twitter:description" content="Sort JSON keys, rearrange your JSON alphabetical">
    <meta name="twitter:domain" content="r37r0m0d3l.github.io/json_sort">
    <meta name="twitter:image" content="https://r37r0m0d3l.github.io/json_sort/img/logo.png">
    <meta name="twitter:site" content="@r37r0m0d3l">
    <meta name="twitter:title" content="Sort JSON keys, rearrange your JSON alphabetical">
    <meta name="twitter:url" content="https://r37r0m0d3l.github.io/json_sort/">
    <meta property="og:description" content="Sort JSON keys, rearrange your JSON alphabetical">
    <meta property="og:image" content="https://r37r0m0d3l.github.io/json_sort/img/logo.png">
    <meta property="og:image:alt" content="r37r0m0d3l.github.io/json_sort">
    <meta property="og:image:height" content="504">
    <meta property="og:image:secure_url" content="https://r37r0m0d3l.github.io/json_sort/img/logo.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="968">
    <meta property="og:locale" content="en_GB">
    <meta property="og:site_name" content="r37r0m0d3l.github.io/json_sort">
    <meta property="og:title" content="Sort JSON keys, rearrange your JSON alphabetical">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://r37r0m0d3l.github.io/json_sort/">
  </head>
  <body>
    <div classZ="paper container shadow shadow-small" id="app">
      <center><h4>JSON Sorter</h4></center>
      <article class="row">
        <div class="col-5 col">
          <div class="card nes-container">
            <div class="card-body">
              <h4 class="card-title">Input</h4>
              <div class="form-group">
                <textarea
                  placeholder="Input JSON here…"
                  classZ="input-block"
                  class="nes-textarea"
                  v-model="inputJson"
                >
{{ inputJson }}</textarea>
              </div>
              <center>
                <button
                  v-on:click="onClickClear"
                  classZ="paper-btn input-block btn-danger"
                  class="nes-btn is-error"
                >
                  Clear&nbsp;⭕
                </button>
              </center>
            </div>
          </div>
        </div>
        <div class="col-2 col">
          <article class="article">
            <center>
              <button
                v-on:click="onClickSort"
                classZ="paper-btn input-block btn-secondary"
                class="nes-btn is-primary"
              >
                Sort&nbsp;▶️
              </button>
            </center>
            <br />
            <br />
            <fieldset class="form-group">
              <legend>Indent</legend>
              <br />
              <label for="paperRadios1" classZ="paper-radio">
                <input
                  v-model="config"
                  v-bind:value="{indent:'2spaces'}"
                  v-on:change="onClickIndent"
                  class="nes-radio"
                  type="radio"
                  name="paperRadios"
                  id="paperRadios1"
                  value="option 1"
                /><span>Two spaces</span>
              </label>
              <br />
              <label for="paperRadios2" classZ="paper-radio">
                <input
                  v-model="config"
                  v-bind:value="{indent:'tabs'}"
                  v-on:change="onClickIndent"
                  class="nes-radio"
                  type="radio"
                  name="paperRadios"
                  id="paperRadios2"
                  value="option 2"
                /><span>Tabs</span>
              </label>
              <br />
              <label for="paperRadios3" classZ="paper-radio">
                <input
                  v-model="config"
                  v-bind:value="{indent:'4spaces'}"
                  v-on:change="onClickIndent"
                  class="nes-radio"
                  type="radio"
                  name="paperRadios"
                  id="paperRadios3"
                  value="option 3"
                /><span>Four&nbsp;spaces</span>
              </label>
              <br />
            </fieldset>
          </article>
        </div>
        <div class="col-5 col">
          <div class="card nes-container">
            <div class="card-body">
              <h4 class="card-title">Output</h4>
              <pre><code
                contenteditable
                class="language-json"
                data-linenumber="0"
                v-model="outputJson"
                v-html="outputCode"
              >{{ outputCode }}</code></pre>
              <textarea ref="outputTextarea" class="shrink" cols="1" rows="1">
{{ outputTextarea }}</textarea
              >
              <center>
                <button
                  v-on:click="onClickCopy"
                  classZ="paper-btn input-block btn-success"
                  class="nes-btn is-success"
                >
                  Copy&nbsp;✔️
                </button>
              </center>
            </div>
          </div>
        </div>
      </article>
    </div>
    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="js/vendor/prism-1.19.0.min.js"></script>
    <script src="js/vendor/fallback-local-storage-0.0.21.js"></script>
    <script src="js/vendor/vue-2.6.11.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
      if (typeof navigator.serviceWorker !== "undefined") {
        navigator.serviceWorker.register("./js/sw.js");
      }
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-156431828-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-156431828-1");
    </script>
  </body>
</html>
